<div class="row">
  <!-- <div class="col-12">
    <button type="button" class="btn btn-primary">
      <i class="fa-solid fa-plus"></i>
      Upload Document
    </button>
  </div> -->
  <div class="col-md-3 p-2">
    <div class="card">
      <img src="../../../../assets/img/document.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5>File Name</h5>
        <button type="button" class="btn btn-primary w-100 my-1">
            <i class="fa-solid fa-file-arrow-up"></i>
            Upload Document
        </button>
        <button type="button" class="btn btn-primary w-100 my-1">
            <i class="fa-solid fa-file-arrow-down"></i>
            Download Document
        </button>
      </div>
    </div>
  </div>
</div>
