/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("../node_modules/ag-grid-community/styles/ag-grid.css");
@import url("../node_modules/ag-grid-community/styles/ag-theme-material.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: #eee;
}

*::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #2c2c54;
}

body{
    font-family: 'Roboto';
    font-size: 12px;
}

.body-content .header span, .body-content .header i{
    color: #2c2c54;
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
}
.body-content .header hr{
    margin: 10px 0;
}

.btn-primary {
    background-color: #2c2c54;
    border-color: #2c2c54;
}

.btn-primary:hover {
    background-color: #40407a;
    border-color: #40407a;
}